#accessView {
    background: linear-gradient(90deg, var(--primary-red) 10%, var(--primary-green));
    height: 100dvh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.whiteBackground {
    background: white;
    width: 150%;
    height: 650px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    border-bottom-left-radius: 100dvw;
    border-bottom-right-radius: 100dvw;
}
.accessContent {
    z-index: 2;
    position: absolute;
    width: 100%;
}
.accessContent h1 {
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 105px;
    margin-bottom: 80px;
    font-weight: 600;
}

.formContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
.formContent input {
    background: #D9D9D9;
    box-shadow: none;
    display: block;
    width: 100%;
    padding: 15px 15px;
    margin-bottom: 30px;
}
.formContent label {
    text-align: left;
    width: 100%;
    margin-bottom: 18px;
    padding-left: 10px;
    font-size: 23px;
    font-weight: 500;
}
.loginButton {
    padding: 10px 30px;
    border: none;
    border-radius: 100px;
    background: linear-gradient(90deg, var(--primary-red) -50%, var(--primary-green));
    background-size: 100dvw;
    margin-top: 70px;
    font-size: 22px;
    color: white;
}
#passwordForm {
    animation: showForm 1s ease-in-out;
}
.formHidden {
    opacity: 0;
    scale: .9;
}

@keyframes showForm {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}