#fullScreenLoading {
    width: 100%;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.445);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: showFullScreenLoading .4s ease-in-out;
}
@keyframes showFullScreenLoading {
    0% {
        opacity: 0;
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        filter: blur(0px);
    }
}